<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
<!--    <link rel="shortcut icon" href="/tools/font/favicon.ico">-->
<!--    <link rel="stylesheet" href="/tools/font/fontawesome-free-6.1.1-web">-->
<!--    <link rel="stylesheet" href="/tools/css/bootstrap.css">-->
<!--    <link rel="stylesheet" href="/tools/css/style.css">-->
<!--    <link rel="stylesheet" href="/tools/css/swetalert2.min.css">-->
    <th:block th:replace="/layout/head::head"></th:block>
</head>
<body>
<div class="table-title">
    <div class="row">
        <div class="col-sm-5">
            <h1>List of customers</h1>
        </div>
        <div class="col-sm-7">
            <a href="/history-transfers" class="btn btn-outline-light">
                <i class="fa fa-history" aria-hidden="true"></i>
                <span> Transfer money information</span>
            </a>
            <a href="/create-customer" class="btn btn-outline-light">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>Add New Customer</span>
            </a>
        </div>
    </div>
</div>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Balance</th>
            <th colspan="5">Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="c : ${customers}">
            <tr>
                <td th:text="${c.getId()}"></td>
                <td th:text="${c.getFullName()}"></td>
                <td th:text="${c.getEmail()}"></td>
                <td th:text="${c.getPhone()}"></td>
                <td th:text="${c.getAddress()}"></td>
                <td th:text="${c.getBalance()}"></td>
                <td>
                    <a th:href="@{/edit-customer/__${c.getId()}__}" type="button" class="btn btn-outline-secondary">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{/deposits/__${c.getId()}__}" type="button" class="btn btn-outline-success">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{/withdraw/__${c.getId()}__}" type="button" class="btn btn-outline-warning">
                        <i class="fa-solid fa-minus"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{/transfer/__${c.getId()}__}" type="button" class="btn btn-outline-primary">
                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{/delete-customer/__${c.getId()}__}" type="button" class="btn btn-outline-danger">
                        <i class="fa-solid fa-ban"></i>
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>
<th:block th:replace="~{/layout/script:: script_all}"></th:block>
</body>
</html>

